[Desktop Entry]
Version=1.0
Name=Color Picker
Name[ru]=Сборщик цвета
Name[uk]=Збиральник кольорів
Name[en_GB]=Colour Picker
Name[en_US@piglatin]=Color Picker
GenericName=Color Palette Editor
GenericName[ru]=Редактор цветовых палитр
GenericName[uk]=Редактор колірних палітр
GenericName[en_GB]=Colour Palette Editor
GenericName[en_US@piglatin]=Color Palette Editor
X-GNOME-FullName=Color Picker
X-GNOME-FullName[ru]=Сборщик цвета
X-GNOME-FullName[uk]=Збиральник кольорів
X-GNOME-FullName[en_GB]=Colour Picker
X-GNOME-FullName[en_US@piglatin]=Color Picker
Comment=Create and edit color palettes
Comment[ru]=Создание и редактирование цветовых палитр
Comment[uk]=Створення та редагування колірних палітр
Comment[en_GB]=Create and edit colour palettes
Comment[en_US@piglatin]=Create and edit color palettes
Type=Application
Categories=Graphics;
Exec=sk1-color-picker %f
TryExec=sk1-color-picker
Terminal=false
StartupNotify=true
Icon=sk1-color-picker
